@import "tailwindcss";

/* =========================
   DESIGN TOKENS
========================= */
:root {
  --background: #efe7ff;
  --surface: #fff;

  --foreground: #171717;
  --text: #333333;
  --text-muted: #6b7280;

  --primary: #9082bb;
  --primary-dark: #413b55;

  --border: #d1d5db;

  --radius: 0.5rem;
}

/* =========================
   DARK MODE
========================= */
.dark {
  --background: #1d1d1d;
  --surface: #2b2a2a;

  --foreground: #ededed;
  --text: #ffffff;
  --text-muted: #a1a1aa;

  --primary: #9082bb;
  --primary-dark: #413b55;

  --border: #444444;
}

/* =========================
   BASE STYLES
========================= */
body {
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
}

/* =========================
   TAILWIND THEME MAPPING
========================= */
@theme inline {
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-text: var(--text);
  --color-text-muted: var(--text-muted);

  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);

  --color-border: var(--border);
}
